<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Checker</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Stats Checker</h1>
    </header>
    <div class="center-container"></div>
    <form id="steamIdForm">
        <div class="button-container3">
            <button class="custom-button">SteamID
                <input type="text" class="custom-input" id="steamIdInput" placeholder="Enter SteamID...">
            </button>
        </div>
    </form>
         <div class="button-container1">
            <a href="#" class="button-link", id="rustStatsLink">Rust Stats</a>
        </div>
        <div class="button-container">
            <a href="#" class="button-link" id="csgoStatsLink">Csgo Stats</a>
        </div>

    <script>
        // Prevent form submission when Enter key is pressed
        document.getElementById('steamIdForm').addEventListener('submit', function (e) {
            e.preventDefault();
        });
        document.getElementById('steamIdInput').addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
            }
        });

        // Get the input field element
        const steamIdInput = document.getElementById('steamIdInput');
        // Add event listeners for the "Rust Stats" and "Csgo Stats" links
        document.querySelector('.button-container1 a').addEventListener('click', function (e) {
            // Get the SteamID from the input field
            const steamId = steamIdInput.value;

            if (steamId.trim() !== '') {
                // Redirect to the Rust Stats page with the SteamID as a query parameter
                window.location.href = `/rust/?steamId=${encodeURIComponent(steamId)}`;
            }
        });

        document.querySelector('.button-container a').addEventListener('click', function (e) {
            // Get the SteamID from the input field
            const steamId = steamIdInput.value;
    
            if (steamId.trim() !== '') {
                // Redirect to the Csgo Stats page with the SteamID as a query parameter
                window.location.href = `/csgo/?steamId=${encodeURIComponent(steamId)}`;
            }
        });
    </script>
        
</body>
</html>